@import url("Styles/header.css");
@import url("Styles/banner.css");
@import url("Styles/carrossel.css");
@import url("Styles/localizacao.css");
@import url("Styles/footer.css");
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



:root{
    --cor-de-fundo: #f6f6f6;
    --branco: #FFFFFF;
    --preto: #000000;
    --laranja: #D87830;
    --laranja-claro: #f7e3d4;
    --marron: #562E10;

}

body {
    background-color: var(--cor-de-fundo);
    font-family: "Arvo", sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

html {
    scroll-behavior: smooth;
}

/* 
.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: none;
    z-index: 10;
    font-size: 14px;
} */


.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto semi-transparente */
    color: #fff; /* Texto branco */
    padding: 8px 12px; /* Espaçamento interno */
    border-radius: 4px; /* Bordas arredondadas */
    font-size: 14px; /* Tamanho da fonte */
    font-family: Arial, sans-serif; /* Fonte simples e limpa */
    display: none; /* Inicialmente escondida */
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* Sombra suave */
    pointer-events: none; /* Impede que a tooltip interfira com eventos do mouse */
    transition: opacity 0.2s; /* Transição suave para a opacidade */
    max-width: 300px; /* Largura máxima da tooltip */
    max-height: 150px; /* Altura máxima da tooltip */
    overflow: auto; /* Adiciona rolagem se o conteúdo for maior que a tooltip */
    word-wrap: break-word; /* Quebra de linha para evitar overflow horizontal */
}


.error-message {
    color: red;
    font-size: 12px;
    display: none;
}
.error-message.visible {
    display: block;
}